.input-box {
  background-color: #202020;
  border: 1px solid #EEEEEE66;
  border-radius: 8px;
  padding: 16px;
}

.input-box textarea {
  width: 100%;
  background: transparent;
  border: none;
  color: #FFF9F9;
  resize: none;
  outline: none;
  font-size: 1.2rem;
  height: 12vh;
}

.char-limit{
    color: #FFF9F999;
    font-size: 1.2rem
}

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #aaa;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #333;
}

.btn-primary {
  background-color: #a259ff;
  border: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #8f3dff;
}

.language-selector {
  color: #989898;
  font-weight: 600 ;
  font-size: 1.2rem;
}

.language-selector select {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: #1e1e1e;
  border: 1px solid #555;
  color: #EEEEEECC ;
  border-radius: 4px;
}

.custom-modal .modal-header {
  background-image: linear-gradient(#EC6769, #B05454, #6D3F3F);  
  color: white;
  font-weight: bold;
}

.custom-modal .modal-body {
  background-color: #282c34; /* dark background */
  color: white;         
  max-height: 60vh; 
  overflow-y: auto;
}

.topic-btn{
  padding: 6px 8px;
  border: 1px solid white;
  background: transparent;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.location-selector {
  margin-left: 10px;
  padding: 5px 8px;
  background-color: #1e1e1e;
  border: 1px solid #555;
  color: #EEEEEECC ;
  border-radius: 4px;
  font-weight: 600 ;
  font-size: 1rem;
}