.container-dots {
  position: relative;
}

.container-dots:hover {
  background-color: #1e1e1e; /* blue color on hover */
}

.container-dots .dots {
  font-size: 1.8rem;
}

.delete-text {
  cursor: pointer;
  padding: 4px 8px;
  background-color: #4d4d4d;
  color: white;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: 5px;
  user-select: none;
  z-index: 10;
  font-size: 1.4rem;
  
  /* Smooth transition */
  opacity: 0;
  transform: translateY(10px); /* start slightly lower */
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* prevent clicks when hidden */
}

.delete-text.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.delete-text:hover {
  background-color: #ff4d4d; /* red color on hover */
}