.create-button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 20px;
    cursor: pointer;
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-button:hover {
  transform: scale(1.05);
  background-color: #616161; /* darker shade on hover */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.main-text {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FFFFFF;
}

.create-button .extra-text {
    font-size: 1.2rem;
    color: #CDCDCD;
}

.see-all {
    font-size: 1.2rem;
    color: #EEEEEE;
    font-weight: bold;
}

.card {
    background-color: #2D2D2D;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    color: #CDCDCD;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
  transform: scale(1.05);
  background-color: #616161; /* darker shade on hover */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.thumbnail {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.container-dots {
  position: relative;
}

.container-dots:hover {
  background-color: #1e1e1e; /* blue color on hover */
}

.container-dots .dots {
  font-size: 1.8rem;
}

.delete-text {
  cursor: pointer;
  padding: 4px 8px;
  background-color: #4d4d4d;
  color: white;
  border-radius: 4px;
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: 5px;
  user-select: none;
  z-index: 10;
  font-size: 1.4rem;
  
  /* Smooth transition */
  opacity: 0;
  transform: translateY(10px); /* start slightly lower */
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none; /* prevent clicks when hidden */
}

.delete-text.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.delete-text:hover {
  background-color: #ff4d4d; /* red color on hover */
}