.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  color: white;
  font-size: 1rem;
  z-index: 10;
}

.btn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #aaa;
  background: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  width: 40%;
}

.btn:hover {
  background: #333;
}

.btn-primary {
  background-color: #a259ff;
  border: none;
  font-weight: bold;
  width: 40%;
}

.btn-primary:hover {
  background-color: #8f3dff;
}

.subtitle {
  position: absolute;
  bottom: 80px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  font-family: Arial;
  pointer-events: none;
  opacity: 0;
  white-space: pre-wrap;
}

.video-container {
  position: relative;
  width: 360;
  height: 640;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border: 2px solid #ccc;
  border-radius: 12px;
  overflow: hidden;
  display: inline-block;
  
}

.video-container canvas {
  border: 1px solid #444 
}

.play-button {
  cursor: pointer ;
  font-size: 1.5rem;
}

.video-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
}

.video-title {
  background: linear-gradient(135deg, #616063, #474747);
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 1.4rem;
  font-weight: 700;
  color: white;
  max-width: 80vw;
  text-align: center;
  user-select: none;
  /* Optional smooth fade */
  transition: background 0.3s ease;
}

.video-title:hover {
  background: linear-gradient(135deg, #c5c5c5, #483e54);
}